In [149]:
import pandas as pd

In [150]:
data = pd.read_csv("framingham.csv")

In [151]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [152]:
data.isnull().any()

male               False
age                False
education           True
currentSmoker      False
cigsPerDay          True
BPMeds              True
prevalentStroke    False
prevalentHyp       False
diabetes           False
totChol             True
sysBP              False
diaBP              False
BMI                 True
heartRate           True
glucose             True
TenYearCHD         False
dtype: bool

In [153]:
data.isnull().any().sum()

7

In [154]:
data.isnull().sum()                     # sum of Total null value  from every column

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [155]:
data.isnull().sum().sum()                  # sum of all null value

645

# Statistical Imputation With SimpleImputer

# i am trying to fill null value by using... mean

In [166]:
from sklearn.impute import SimpleImputer
imputer_1 = SimpleImputer(strategy='mean')                   # i am trying to fill null value by using mean   for every column
#imputer_1 = SimpleImputer(strategy='median')                # fill null value by using median
#imputer_1 = SimpleImputer(strategy='most_frequent')         # fill null value by using mod

In [167]:
imputer_1.fit(data)            
data1= imputer_1.transform(data)

In [168]:
data1= pd.DataFrame(data1)                     # lets convert  into pandas

In [169]:
data1.isnull().sum().sum()                     # there is no null value

0

In [160]:
data['TenYearCHD'].value_counts()              #data is in balanced

0    3596
1     644
Name: TenYearCHD, dtype: int64

#

#

# KNN Imputation

In [121]:
data= pd.read_csv("framingham.csv")

In [122]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [123]:
data.shape

(4240, 16)

In [124]:
data.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [125]:
data.isnull().any().sum()

7

In [126]:
from sklearn.impute import KNNImputer

In [127]:
k=KNNImputer()

In [128]:
k.fit(data)

KNNImputer()

In [129]:
data3=k.transform(data)

In [130]:
data3=pd.DataFrame(data3)

In [131]:
data3.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
dtype: int64

In [132]:
data3.isnull().any().sum()

0

In [133]:
data.shape

(4240, 16)

#

#

# Iterative Imputation

In [134]:
data=pd.read_csv("framingham.csv")

In [135]:
data.head()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [136]:
data.shape

(4240, 16)

In [137]:
data.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [138]:
data.isnull().sum().sum()

645

In [139]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [140]:
k=IterativeImputer()

In [141]:
k.fit(data)

IterativeImputer()

In [142]:
data5=k.transform(data)

In [143]:
data5=pd.DataFrame(data5)

In [144]:
data5.isnull().sum().sum()

0