In [36]:
import pandas as pd

In [37]:
data = pd.read_csv("iris.csv")

In [38]:
data.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [39]:
x= data.iloc[:,:-1]

In [40]:
y= data.iloc[:, -1]

In [41]:
x.shape

(149, 4)

In [42]:
from sklearn.decomposition import PCA

In [43]:
k = PCA(n_components = 2)             # k = PCA(n_components = i)       i = feature 
k .fit(x)
x= k.transform(x)                # to avoid data leakage , first split data, train and test,  fit with train, transform both

In [44]:
x.shape

(149, 2)

In [23]:
import pandas as pd

In [24]:
data=pd.read_csv("kc_house_data.csv")

In [25]:
data.head(1)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.0,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650

In [26]:
data1=data.drop("date",axis=1)

In [27]:
data1=data1.drop("id",axis=1)

In [42]:
data1.shape

(21597, 19)

In [43]:
data1.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [46]:
from sklearn.decomposition import PCA
pca = PCA(n_components=12)
#x=pca.fit(data1)

In [47]:
data1.shape

(21597, 19)

In [17]:
principalComponents = pca.fit_transform(data1)

In [18]:
principalComponents=pd.DataFrame(principalComponents)

In [19]:
principalComponents

,0,1,2,3,4,5,6,7,8,9,10,11
0,-318517.423790,-7893.258572,1415.113387,-421.587650,-214.896969,34.775664,99.710106,-90.684738,-2.539871,0.031482,-0.078814,-0.124526
1,-2407.926489,-9329.924637,579.129034,389.396553,215.890365,1756.167484,-937.141596,-31.636871,-6.629389,-0.519833,-0.510763,0.780148
2,-360354.163415,-2414.863246,1442.695875,-246.502666,-117.304761,-997.941647,-979.677425,27.845903,38.178242,-0.482978,-0.329296,0.627802
3,63544.473262,-13381.142864,1799.612180,-918.390262,697.271945,106.700916,353.951403,-28.178058,-16.361812,1.079224,-0.027594,0.062150
4,-30400.567996,-8333.604262,1103.169776,-288.574757,-349.921879,-59.489925,42.477918,8.777452,-15.446940,-0.120576,-0.182837,-0.241300
...,...,...,...,...,...,...,...,...,...,...,...,...
21592,-180498.974933,-15527.553288,2839.318383,-194.944762,-285.066420,59.305397,136.186886,-12.432413,-41.267477,0.042054,0.008663,-0.668074
21593,-140415.483393,-9126.870279,205.700210,790.751317,-308.542179,238.940176,272.383775,-70.118782,-39.548395,0.543450,0.116249,0.123022
21594,-138397.943469,-15602.145749,2533.561153,-1171.563753,-318.342457,124.519240,264.021454,-34.362241,-57.991624,-0.632381,-0.216502,0.484960
21595,-140490.356489,-15025.105699,3666.871582,-254.618037,-313.022226,157.262230,247.142952,64.898546,-25.229421,-0.185716,0.059164,-0.621115
21596,-215499.989644,-15231.988440,2935.581177,-982.209841,-279.669134,136.812312,253.853662,-36.701396,-55.409527,-0.697378,-0.181791,0.397676

In [20]:
pca.explained_variance_ratio_

array([9.82235975e-01, 1.56866020e-02, 2.06672625e-03, 6.46795240e-06,
       1.91949940e-06, 1.21545038e-06, 1.07144679e-06, 1.85018934e-08,
       4.13647718e-09, 4.13473945e-12, 3.31643293e-12, 2.81842195e-12])

In [21]:
pca.singular_values_

array([5.39908935e+07, 6.82302614e+06, 2.47658977e+06, 1.38546642e+05,
       7.54756022e+04, 6.00594311e+04, 5.63894556e+04, 7.41004225e+03,
       3.50370807e+03, 1.10773702e+02, 9.92083454e+01, 9.14567161e+01])

In [22]:
pca.n_components_

12