In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("humidity.csv")

In [3]:
data

        sensor_id     lat     lon  pressure  temperature  humidity
0            2266  42.738  23.272  95270.27        23.46     62.48
1            2292  42.663  23.273  94355.83        23.06     59.46
2            3096  42.700  23.360  95155.81        26.53     44.38
3            3428  42.624  23.406  94679.57        28.34     38.28
4            3472  42.669  23.318  94327.88        26.31     46.37
...           ...     ...     ...       ...          ...       ...
701543       3558  42.671  23.364  95562.08        21.99     52.28
701544       3836  42.702  23.371  96070.06        21.41     56.84
701545       3296  42.671  23.325  95230.42        22.53     51.72
701546       2234  42.685  23.356  95653.14        23.01     49.78
701547       2232  42.685  23.301  95418.48        22.57     51.44

[701548 rows x 6 columns]

In [4]:
data= data.drop(["sensor_id","lat", "lon"], axis =1)       # drop sensor_id , latitude, and longitude column

In [5]:
data

        pressure  temperature  humidity
0       95270.27        23.46     62.48
1       94355.83        23.06     59.46
2       95155.81        26.53     44.38
3       94679.57        28.34     38.28
4       94327.88        26.31     46.37
...          ...          ...       ...
701543  95562.08        21.99     52.28
701544  96070.06        21.41     56.84
701545  95230.42        22.53     51.72
701546  95653.14        23.01     49.78
701547  95418.48        22.57     51.44

[701548 rows x 3 columns]

In [6]:
y= data["humidity"]
y

0         62.48
1         59.46
2         44.38
3         38.28
4         46.37
          ...
701543    52.28
701544    56.84
701545    51.72
701546    49.78
701547    51.44
Name: humidity, Length: 701548, dtype: float64

In [7]:
x= data.drop("humidity", axis= 1)
x

        pressure  temperature
0       95270.27        23.46
1       94355.83        23.06
2       95155.81        26.53
3       94679.57        28.34
4       94327.88        26.31
...          ...          ...
701543  95562.08        21.99
701544  96070.06        21.41
701545  95230.42        22.53
701546  95653.14        23.01
701547  95418.48        22.57

[701548 rows x 2 columns]

In [8]:
def regression(x,y):
    from sklearn.model_selection import train_test_split
    x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 1/3, random_state = 0)
    
    from sklearn.linear_model import LinearRegression
    p = LinearRegression()
    p.fit(x_train,y_train)
    
    print("Training Score",p.score(x_train,y_train))
    print("Test Score",p.score(x_test,y_test))
    
    return p

In [9]:
model= regression(x,y)

Training Score 0.2822101577005137
Tesr Score 0.28588557544407245

# Lets use polynomial feature

In [10]:
from sklearn.preprocessing import PolynomialFeatures     # polynomial featuring use to improve the accuracy

k= PolynomialFeatures(degree=2)                          # we can change the degree  2,3,4,5....

x1= k.fit_transform(x)

In [11]:
model= regression(x1,y)

Training Score 0.6257167209554264
Tesr Score 0.6263692856079834

In [12]:
from sklearn.preprocessing import PolynomialFeatures     # polynomial featuring use to improve the accuracy

k= PolynomialFeatures(degree=3)                          # we can change the degree  2,3,4,5....

x1= k.fit_transform(x)

In [13]:
model= regression(x1,y)

Training Score 0.6417986691273352
Tesr Score 0.6398206168224214

In [14]:
for i in range(2,4):
    k = PolynomialFeatures(degree=i)
    x1 = k.fit_transform(x)
    
    print("For degree : ",i)
    model= regression(x1,y)
    
    print()

For degree :  2
Training Score 0.6257167209554264
Tesr Score 0.6263692856079834

For degree :  3
Training Score 0.6417986691273352
Tesr Score 0.6398206168224214