In [70]:
import pandas as pd

In [71]:
data= pd.read_csv("Logisticdata.csv")

In [72]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [73]:
y= data["ram"]                  #  ram become target and put in y variable
x= data.drop("ram",axis= 1)     #  x become  feature data

In [74]:
x.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,8,2,15,1,1,0,1

In [75]:
x.shape

(2000, 20)

In [76]:
y.shape

(2000,)

In [77]:
from sklearn.model_selection import train_test_split

In [78]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 1/3)

In [79]:
x_train.shape

(1333, 20)

In [80]:
x_test.shape

(667, 20)

In [81]:
from sklearn.linear_model import LinearRegression

In [82]:
model= LinearRegression()

In [83]:
model.fit(x_train, y_train)      # training hmesha training data se krenge

LinearRegression()

In [84]:
model.coef_          # coef gives (w1,w2,...)   weight for 20 feature

array([-5.00059375e-01,  1.91198357e+01,  5.56313461e+00,  2.02421384e+01,
       -1.94146626e+00,  3.67948856e+00, -5.43334175e-01,  2.00314658e+01,
        7.62196049e-01, -2.36689163e+00,  3.80378227e-01, -2.63036301e-01,
       -2.65582099e-01, -1.13371959e+00, -1.39699275e+00, -6.99112705e-01,
       -1.62347097e+01,  9.83321523e+00,  1.22971271e+01,  9.68379819e+02])

In [85]:
model.intercept_      # intercept gives w0

1713.0955531955885

In [86]:
model.score(x_train, y_train)       # to check the accuracy for training data

0.9095691021368524

In [87]:
model.score(x_test, y_test)          # to check the accuracy for test data

0.9160755190986167

# model is ideal  (bios varience trade-off)    training and test data is almost same