In [56]:
import pandas as pd

In [57]:
data= pd.read_csv("Logisticdata.csv")

In [58]:
data.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [59]:
y= data["battery_power"]
x= data.drop("battery_power", axis=1)

In [60]:
y.head()

0     842
1    1021
2     563
3     615
4    1821
Name: battery_power, dtype: int64

In [61]:
x.head()

,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1,1
1,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0,2
2,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0,2
3,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0,2
4,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0,1

In [62]:
x.shape

(2000, 20)

In [63]:
y.shape

(2000,)

In [64]:
from sklearn.model_selection import train_test_split

In [65]:
x_train,x_test, y_train,y_test = train_test_split(x , y , test_size= 1/3)

In [66]:
x_train.shape

(1333, 20)

In [67]:
x_test.shape

(667, 20)

In [68]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [69]:
model.score(x_train, y_train)

0.33932520723595583

In [70]:
model.score(x_test, y_test)

0.30927834898525464

# model is underfit...