In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("iris.csv",header= None)

In [3]:
data

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
data[4].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: 4, dtype: int64

In [5]:
data.shape

(150, 5)

In [6]:
from sklearn.preprocessing import LabelEncoder               # we are changing the string target data 
k= LabelEncoder()
data[4]= k.fit_transform(data[4])

In [7]:
data

       0    1    2    3  4
0    5.1  3.5  1.4  0.2  0
1    4.9  3.0  1.4  0.2  0
2    4.7  3.2  1.3  0.2  0
3    4.6  3.1  1.5  0.2  0
4    5.0  3.6  1.4  0.2  0
..   ...  ...  ...  ... ..
145  6.7  3.0  5.2  2.3  2
146  6.3  2.5  5.0  1.9  2
147  6.5  3.0  5.2  2.0  2
148  6.2  3.4  5.4  2.3  2
149  5.9  3.0  5.1  1.8  2

[150 rows x 5 columns]

In [8]:
data[4].value_counts()

0    50
1    50
2    50
Name: 4, dtype: int64

In [9]:
data.columns

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [10]:
data.columns= [0,1,2,3,"Target"]

In [11]:
data.head()

     0    1    2    3  Target
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

In [12]:
data0= data.query('Target==0')

In [13]:
data1= data.query('Target==1')

In [14]:
data2= data.query('Target==2')

# Lets drop the Target

In [15]:
data0= data0.drop('Target',axis=1)    
data1= data1.drop('Target',axis=1) 
data2= data2.drop('Target',axis=1)

# Lets Calculate the Mean  &  S.T.D for each Column

In [16]:
data.head()

     0    1    2    3  Target
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

In [17]:
feature_mean= list(data.mean())      #  here, calculating the mean of every columns
feature_mean                                            # mean of target  (0 + 1 + 2) / 3   = 1 mean

[5.843333333333334,
 3.0540000000000003,
 3.758666666666666,
 1.1986666666666668,
 1.0]

In [18]:
feature_std= list(data.std())
feature_std

[0.828066127977863,
 0.4335943113621737,
 1.7644204199522626,
 0.7631607417008411,
 0.8192319205190405]

In [19]:
import numpy as np

In [20]:
def probability(x, mean, stdev):
    exp1 = np. exp(-((x-mean)**2 / (2 * stdev**2)))
    return(1/ (np.sqrt(2 * 3.14) * stdev)) * exp1

In [21]:
probability(1 , feature_mean[0], feature_std[0])

1.7957760627147685e-08

In [25]:
probability(1.4 , feature_mean[0], feature_std[0])

2.695396592594536e-07

In [55]:
def probability1(f1,f2,f3,f4):
    feature_mean_0= list(data0.mean())
    feature_std_0= list(data0.std())
    
    feature_mean_1= list(data1.mean())
    feature_std_1= list(data1.std())
    
    feature_mean_2= list(data2.mean())
    feature_std_2= list(data2.std())
    
    l1= [f1,f2,f3,f4]
    pro= []
    
    def calculation(m,s,d):
        mul= 1
        for i , j , p  in  zip(m,s,d):
            k1= probability(p,i,j)
            mul= mul * k1
            
        mul = mul * 1/3
        return mul
    
    pro.append(calculation(feature_mean_0, feature_std_0, l1))
    pro.append(calculation(feature_mean_1, feature_std_1, l1))
    pro.append(calculation(feature_mean_2, feature_std_2, l1))
    
    return pro

In [56]:
probability1 = probability1(5.9, 3.0, 5.1, 1.8)

In [57]:
probability1

[5.945553029537943e-143, 0.0049002123065114405, 0.07693498587663207]

In [61]:
max_value=  max(probability1)      # to check the maximum probability

In [66]:
max_value

0.07693498587663207

In [67]:
prediction_class= probability1.index(max_value)

In [68]:
prediction_class

2